.connexionBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 40px 40px 70px 40px;
    height: 250px;
    width: 100%
}

.blockTitle {
    font-size: 26px;
    color: #FD2D01;
    border-bottom: 2px solid #FD2D01;
    padding-bottom: 5px;
    width: 150px;
}

.loginBlockTitle {
    width: 180px;
}