.createPostSection {
    display: flex;
    flex-direction: column;
    height: 650px;
    justify-content: space-around;
    margin: 0 0 20px 20px;
}

.inputCreatePost {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.titleInput {
    font-size: 20px;
    color: #4E5166;
    font-weight: bold;
}

.input {
    width: 500px; 
    height: 200px;
    font-size: 18px;
    border: 2px solid #FD2D01;
}

.addImage {
    color: #FD2D01;
    font-size: 18px;
    font-weight: bold;
    margin-right: 2%;
}

.imgPost {
    width: 40%;
}

.newImageMessage {
    font-size: small;
    margin-top: 5px;
}
