.likeButton {
    width: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #4E5166;
}

.likeButtonIcone {
    font-size: 25px;
    margin-right: 3px;
}

.likeButtonIcone:hover {
    cursor: pointer;
}
