.footer {
    border-top: 5px solid #FFD7D7;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.logoFooter {
    height: 60px;
    width: 120px;
    margin: 0 100px 0 30px; 
}

.textFooter {
    font-weight: bold;
    font-size: 15px;
    color: #4E5166;
}